<h1 class="mb-10 text-4xl">comunismo</h1>
<form class="p-4 shadow-xl rounded-lg bg-slate-100" [formGroup]="form">
  <!-- username------------------------------------------------------------------------------------------ -->
  <div class="relative box-input mb-6">
    <label for="name" id="nameLabel" class="text-slate-500"
      >Username</label
    >
    <input
      type="text"
      name="name"
      id="name"
      class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-lg rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pt-5 pr-7"
      [ngClass]="
        form.get('name')?.untouched || form.get('name')?.valid
          ? 'focus:ring-green-300 border-slate-300'
          : 'focus:ring-rose-300 border-red-300'
      "
      formControlName="name"
      (focus)="animacionIn('nameLabel')"
      (blur)="animacionOut('nameLabel', 'name')"
    />
    <!-- icons ----------------------------------------------------------------------->
    <div class="absolute top-5 right-1" *ngIf="form.get('name')?.touched">
      <img
        src="assets/icons-form/check-icon.svg"
        *ngIf="form.get('name')?.valid"
        alt="checkIcon"
      />
      <img
        src="assets/icons-form/fail-icon.svg"
        *ngIf="form.get('name')?.invalid"
        alt="failIcon"
      />
    </div>
    <!-- alertas --------------------------------------------------------------->
    <div
      class="error-alert"
      *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
    >
      <div
        class="flex p-1 text-sm text-red-400 rounded-lg"
        *ngIf="form.get('name')"
      >
        <img class="pr-3" src="assets/icons-form/info-icon.svg" alt="info-icon" />
        <p *ngIf="form.get('name')?.hasError('required')">
          Este campo es <span class="font-bold">requerido</span>.
        </p>
        <p *ngIf="form.get('name')?.hasError('minlength')">
          Mínimo <span class="font-bold">8 carácteres</span>.
        </p>
      </div>
    </div>
  </div>
  <!-- contraseña --------------------------------------------------------------------------------------------------->
  <div class="relative box-input mb-6">
    <label for="pass" id="passLabel" class="text-slate-500"
      >Contraseña</label
    >
    <input
      type="password"
      name="pass"
      id="pass"
      class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-lg rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pt-5 pr-7"
      [ngClass]="
        form.get('pass')?.untouched || form.get('pass')?.valid
          ? 'focus:ring-green-300 border-slate-300'
          : 'focus:ring-rose-300 border-red-300'
      "
      formControlName="pass"
      (focus)="animacionIn('passLabel')"
      (blur)="animacionOut('passLabel', 'pass')"
    />
    <!-- icons ------------------------------------------------------>
    <div class="absolute top-5 right-1" *ngIf="form.get('pass')?.touched">
      <img
        src="assets/icons-form/check-icon.svg"
        *ngIf="form.get('pass')?.valid"
        alt="checkIcon"
      />
      <img
        src="assets/icons-form/fail-icon.svg"
        *ngIf="form.get('pass')?.invalid"
        alt="failIcon"
      />
    </div>
    <!-- alertas ------------------------------------------------------>
    <div
      class="error-alert"
      *ngIf="form.get('pass')?.touched && form.get('pass')?.invalid"
    >
      <div
        class="flex p-1 text-sm text-red-400 rounded-lg"
        *ngIf="form.get('pass')"
      >
        <img class="pr-3" src="assets/icons-form/info-icon.svg" alt="info-icon" />
        <p *ngIf="form.get('pass')?.hasError('required')">
          Este campo es <span class="font-bold">requerido</span>.
        </p>
        <p *ngIf="form.get('pass')?.hasError('minlength')">
          Mínimo <span class="font-bold">8 carácteres</span>.
        </p>
      </div>
    </div>
  </div>
  <!-- boton -->
  <div class="btn"><button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2 text-center mb-2 w-full" (click)="consolear()">Enviar</button></div>
</form>
<div *ngIf="alert" class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <img src="assets/icons-form/info-icon.svg" class="flex-shrink-0 inline w-5 h-5 mr-3" alt="info-icon">
  <div>
    <span class="font-medium">{{mensaje}}</span>.
  </div>
</div>
