<h1 class="text-4xl font-bold mb-10">Formulario de prueba</h1>
<form class="form shadow-xl p-4 rounded-xl bg-slate-100" #formulario="ngForm" >
  <!-- input nombre -->
  <div><label for="name">Nombre: </label></div>
  <div><input type="text" name="name" id="name" class="bg-gray-50 border transition duration-250 ease-in-out border-slate-300 text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none focus:ring-slate-300 block w-full p-2.5"
    ngModel >
  </div>
  <!-- input apellido -->
  <div>  <label for="apell">Apellido:</label></div>
  <div>  <input type="text" name="apell" id="apell" class="appearance-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-rose-500 focus:outline block w-full p-2.5"
    ngModel></div>
  <!-- input password ------------------------->
<div>  <label for="pass">Contraseña:</label></div>
<div><input type="password" name="pass" id="pass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
  ngModel></div>
<!-- campo---boton----------------- -->
<div><button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 disabled:from-purple-300 disabled:to-blue-200"
  (click)="formulario.resetForm()" [disabled]="formulario.invalid" >Purple to Blue</button></div>
</form>
<p>{{formulario.invalid}}</p>

<p>{{formulario.value | json}}</p>
