:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.form{
    display: grid;
    grid-template: repeat(4, min-content)/1fr 3fr;
    gap: 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    div:nth-child(7){
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }
}